{% extends 'base.html' %}

{% block title %}Soumettre une Entrée - {% endblock %}

{% block content %}
    <div class="login-container">
        <div class="login-section">
            <h2>Soumettre une Entrée</h2>
            
            {% if messages %}
                {% for message in messages %}
                    <div class="message {{ message.tags }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="login-button">Soumettre</button>
            </form>
            <a href="{% url 'accounts:home' %}" class="login-button">Retour</a>
        </div>
    </div>
{% endblock %}

{% block extra_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'accounts/css/submit_entry.css' %}">
{% endblock %}